{% extends 'motorartigos/base_clean.html' %}
{% load static %}

{% block content %}
<main class="d-flex flex-column align-items-center justify-content-center min-vh-100">
    
    <!-- Logo DevBlog Django -->
    <div class="mb-4 text-center">
        <h2 class="text-white fw-bold">DevBlog <span class="text-secondary fs-4 fw-normal">Django</span></h2>
    </div>

    <!-- Card de Login -->
    <div class="card card-custom border border-dark-light p-4 shadow-lg" style="width: 100%; max-width: 440px;">
        <div class="text-center mb-4">
            <h4 class="text-white fw-bold">Acesse sua conta</h4>
            <p class="text-secondary small">Bem-vindo ao DevBlog Django</p>
        </div>

        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
             
            <div class="row">
                {% for field in form.visible_fields %}
                    <div class="col-12 mb-3">
                       <label for=""{{ field.id_for_label}}>{{ field.label }}</label>
                       {{field}}
                    </div>
                   
                {% endfor %}
                <button type="submit" class="btn btn-primary w-100 py-2">Logar</button>
            </div>
            
        </form>

        <div class="text-center my-3 text-secondary small">OU</div>

        <a href="#" class="btn btn-dark w-100 py-2 border border-secondary text-white">
            <i class="fa-brands fa-github me-2"></i> Fazer login com o GitHub
        </a>

        <div class="text-center mt-4 text-secondary small">
            Não tem uma conta? <a href="{% url 'cadastro' %}" class="text-primary-custom text-decoration-none">Veja nossos planos</a>
        </div>
    </div>
</main>
{% endblock %}